HEPMIU_1004/Hepmiu_orarend.dtd

<!ELEMENT Hepmiu_orarend (ora+)>
<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)>
<!ATTLIST ora id NMTOKEN #REQUIRED>
<!ATTLIST ora tipus (Eloadas|Gyakorlat) #REQUIRED>
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap,tol,ig)>
    <!ELEMENT nap (#PCDATA)>
    <!ELEMENT tol (#PCDATA)>
    <!ELEMENT ig (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>