HEPMIU_1004/Hepmiu_ertodtd.dtd

<!ELEMENT Hepmiu_modell (A,B,C)>
<!ELEMENT A (#PCDATA|b|B|c)*>
    <!ATTLIST A a NMTOKEN #IMPLIED>
<!ELEMENT b (#PCDATA|x|y)*>
<!ELEMENT x (#PCDATA)>
<!ELEMENT y (#PCDATA)>
<!ELEMENT B (#PCDATA|b|A)*>
    <!ATTLIST B a NMTOKEN #IMPLIED>
<!ELEMENT c (d,e)>
<!ELEMENT d (#PCDATA)>
<!ELEMENT e (#PCDATA)>
<!ELEMENT C (b,B)>
    <!ATTLIST C a NMTOKEN #REQUIRED>