HEPMIU_1018/Hepmiu_kurzusfelvetel.xsd

<?xml version="1.0" encoding="utf-8"?>


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Hepmiu_kurzusfelvetel">

    <xs:complexType>
      <xs:sequence>

        <xs:element name="hallgato">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="hnev" type="xs:string" />
              <xs:element name="szulev" type="xs:date" />
              <xs:element name="szak" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>

        <xs:element name="kurzusok">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="kurzus">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="kurzusnev" type="xs:string" />
                    <xs:element name="kredit" type="xs:unsignedByte" />
                    <xs:element name="hely" type="xs:string" />
                    <xs:element name="idopont" type="xs:string" />
                    <xs:element name="oktato" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="jovahagyas" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>


      </xs:sequence>
      <xs:attribute name="tanev" type="xs:string" use="required" />
      <xs:attribute name="egyetem" type="xs:string" use="required" />


    </xs:complexType>
  </xs:element>
</xs:schema>